body {
    margin-left: 40%;
    margin-right:40%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #ccffbb;
    color: #112211;
}

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: auto;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.divider {
    text-align:center;
    font-family: monospace;
    color: black;
}

.button {
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    color: #3355ff;
    background-color: #112211;
}