body {
    margin-left:40%;
    margin-right:40%;
    text-align: justify;
    text-indent: 10%;

    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background: #ccffbb;
    color: #112211;
}

footer {
    text-align: center;
    text-indent: 0%;
}

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: auto;
    text-indent: 0%;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-indent: 0%;
}

.subheading {
    text-align:center;
    font-family: monospace;
    color:#333355;
    text-indent: 0%;
}

.divider {
    text-align:center;
    font-family: monospace;
    color: black;
    text-indent: 0%;
}

.hidden-button {
    text-decoration-line: none;
    color: #112211;
}
.hidden-button:visited {
    text-decoration-line: underline;
    color: unset;
}
.hidden-button:hover {
    text-decoration-line: underline;
    cursor:pointer;
}

.button {
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6688ff;
    background-color: #bbffaa;
}
.button:hover {
    cursor:pointer;
    border: 2px solid black;
}