body {
    text-align: justify;
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-indent: 10%;

    background: #990000;
    color: #440000;
}

footer {
    text-align: center;
    text-indent: 0%;
}

img {
    display: block;
    width: auto;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

.subheading {
    text-align:center;
    font-family: monospace;
    color:#772222;
}

.divider {
    text-align:center;
    font-family: monospace;
    color: black;
}

.hidden-button {
    text-decoration-line: none;
    color: #440000;
}
.hidden-button:visited {
    text-decoration-line: underline;
    color: unset;
}
.hidden-button:hover {
    text-decoration-line: underline;
    cursor:pointer;
}

.button {
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ff6666;
    background-color: #cc1111;
}
.button:hover {
    cursor:pointer;
    border: 2px solid black;
}