html {
    background-color: #ccffbb;
    background-image: url("/myWorld/images/windowsXP.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

    font-family: "Lilex", monospace;
    color: #112211;

    background-color: rgba(204 255 187 0.5)
}

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: auto;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.subheading {
    text-align:center;
    font-family: monospace;
    color:#333355;
}

.divider {
    text-align:center;
    font-family: monospace;
    color: black;
}

.hidden-button {
    text-decoration-line: none;
    color: #112211;
}
.hidden-button:visited {
    text-decoration-line: underline;
    color: unset;
}
.hidden-button:hover {
    text-decoration-line: underline;
    cursor:pointer;
}

.button {
    font-family: "Lilex", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6688ff;
    background-color: rgba(204 255 187 0.5)
}
.button:hover {
    cursor:pointer;
    border: 2px solid black;
}